<div>
	Login with:
	<button data-exteranl-type="fbLogin" style="background: url('http://joeprguy.com/wp-content/uploads/2013/08/Facebook-logo-1817834.png') no-repeat; width: 29px; height: 20px; background-size: contain; margin: 0px; padding: 0px; border: 0px;"></button>
	<button data-exteranl-type="twLogin" style="background: url('http://www.ok.gov/OEM/images/Twitter%20Icon%201.jpg') no-repeat; width: 29px; height: 20px; background-size: contain; margin: 0px; padding: 0px; border: 0px;"></button>
	I am:
	<div id="logInInfo"></div>
</div>

@section scripts {
	@Scripts.Render("~/bundles/auth")
}